In [17]:
my_list = [1,2,3]

Lists in Pythonnnnnnn--------------------------

In [3]:
my_list = ['str',1.24]

In [5]:
len(my_list)

2

In [6]:
my_list = ['one', 'two', 'three']

In [8]:
my_list[0]

'one'

In [10]:
my_list[1:]

['two', 'three']

In [11]:
anotherlist = ['four','five']

In [16]:
new_list = my_list + anotherlist

In [19]:
new_list[0] = 'ONE NEW'  #changed the list item

In [21]:
new_list

['ONE NEW', 'two', 'three', 'four', 'five']

In [22]:
new_list.append('six')   #adding at the end of the list

In [24]:
new_list

['ONE NEW', 'two', 'three', 'four', 'five', 'six']

In [25]:
new_list.pop()

'six'

In [27]:
new_list

['ONE NEW', 'two', 'three', 'four', 'five']

In [34]:
making_list = ['c','a','d','1']

In [35]:
making_list.sort() #does not return anything

In [36]:
making_list

['1', 'a', 'c', 'd']

In [39]:
count = 0
for intervar in [2,3,4,5,6,7] : 
    count = count +1
    print('count is : ', count)

count is :  1
count is :  2
count is :  3
count is :  4
count is :  5
count is :  6

In [43]:
total = 0
for intervar in [1,2,3,4,5,6,7,8,9,10] : 
    total = total + intervar  #total is an accumulator because it accumulates the sum of elements 
print('total : ', total)

total :  55

Maximum and Minimum Loops

In [47]:
largest = None
print('Before : ', largest)
for i in [2,5,68,43,11,45] : 
    if largest is None or i > largest :
        largest = i
    print('In loop condition check : ',largest,i)
print('Largest no found is : ',largest)

Before :  None
In loop condition check :  2 2
In loop condition check :  5 5
In loop condition check :  68 68
In loop condition check :  68 43
In loop condition check :  68 11
In loop condition check :  68 45
Largest no found is :  68

In [54]:
num = 0 
total = 0.0
while True : 
        number = input("Enter a number : ")
        if number == 'done' :
            break
        try:
             num1 = float(number)
        except:
            print('Invalid')
            continue
        num = num + 1
        total = total + num1
print("done : total is - ",total," Numbers entered -  ", num)

Enter a number : 0
Enter a number : 1
Enter a number : 2
Enter a number : done
done : total is -  3.0  Numbers entered -   3